/* Custom styling for pomodoro-timer-start */
.ribbon-icon.promodoro-timer-start {
	color: #3FBF9B;
	font-size: 24px;;
}

.ribbon-icon.promodoro-timer-start:hover {
	color: #3FBF9B;
	background-color: #3FBF9B;
}